<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ECSServerAddress" value="https://devinternal.fcsamerica.net/DocuClick/v3/REST/api/Proxy/EnterpriseConfigurationStore/v1/ConfigItems" />
    <add key="ApplicationName" value="DocIndexer" />
    <add key="PartnerName" value="FCSA" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.diagnostics>
    <sources>
      <source name="FCSAmerica.McGruff.TokenGenerator" switchName="LogSwitch">
        <listeners>
          <add name="configConsoleListener"></add>
          <add name="fileListener"></add>
        </listeners>
      </source>
      <source name="System.Net.Http" switchValue="Off">
        <listeners>
          <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />

          
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="LogSwitch" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>